@media only screen and (min-width: 64rem){

    header {
        display: grid;
    }

    .logo {
        margin-left: 2rem;
        grid-column: 1;
        grid-row: 1;
    }

    .headings {
        grid-column: 2;
        grid-row: 1;
    }

    nav ul {
        display: flex;
        justify-content: center;
        grid-column: 3/5; 
        grid-row: 1;       
    }

    nav button {
        display: none;
    }

    .social {
        grid-column: 4/5;
        grid-row: 1/2;
    }

/* ~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~ */

    main {
        display: grid;
        gap: 10px;
        grid-template-columns: 20% auto auto 20%;
	    font-size: .8rem;
    }

    #banner {
        display: flex;
        font-size: large;
        grid-column: 1/5;
        grid-row: 1;
    }

    #event {
        height: 250px;
        grid-column: 1;
        grid-row: 2;
    }
    .hero {
        background-color: transparent;
        grid-column: 2/4;
        grid-row: 2/4;
    }

    .hero img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #callToAction a {
        position: absolute;
        top: 35rem;
        right: 20rem;
        width: 250px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.75rem;
        background-color: rgba(220, 220, 220, .5);
        text-decoration: none;
        color: #000;
    }
    
    #callToAction a:hover{
        background-color: rgba(220,220,220, .7);
    }

    .spotlight {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        grid-column: 4;
        grid-row: 2/5;
    }

    #spot1, #spot2, #spot3  {
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
        width: 95%;
        padding: 5px;
    }

    .container {
        padding: 2px 16px;
    }

    #weather {
        width: auto;
        height: 200px;
        grid-column: 1;
        grid-row: 3;
    }

    #join {
        grid-column: 1;
        grid-row: 4;
    }

    #join h2 {
        font-size: small;
        
    }

    #news {
        grid-column: 2/4;
        grid-row: 4/5;
    }

/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */

    footer {
        display: grid;
    }

    .logo-footer {
        margin-left: 2rem;
        grid-column: 1;
    }

    .name {
        grid-column: 2;
    }

    .address {
        grid-column: 4;
    }

    .contact {
        grid-column: 7;
    }

    .copyright {
        grid-column: 1/8;
    }
}